@mixin tag($bgColor, $color: white) {
  background: $bgColor !important;
  color: $color !important;
  font-weight: 500;
  border-radius: 2px;
  padding: 3px 7px;
  line-height: 2em;
}

// modified Maggie Appleton's theme
span.rm-page-ref-tag {
  color: #540D6E;
}

.content span.rm-page-ref {
  padding: 4px 1px 1px; /* required for fixing azo */
}

$tagColors: (
  "Articles": (#19647E, #fff),
  "Books": (#F4D35E, #fff),
  "Evergreen": (#4CE0D2, #fff),
  "Inbox": (#F2545B, #fff),
  "Quotes": (#FCB815, #fff),
  "Project": (#2F52E0, #fff),
  "Tweets": (#1E91D6, #fff),

  "reading": (#F5F1E3, #000),
  "in progress": (#F5F1E3, #000),
  "done": (#F5F1E3, #000),
);

@each $name, $colors in $tagColors {
  span.rm-page-ref-tag[data-tag="#{$name}"] {
    $bgColor: nth($colors, 1);
    $color: nth($colors, 2);
    @include tag($bgColor, $color)
  }
}